.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    width: 100%;
}

.header_icon{
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.header_icon:hover{
    cursor: pointer;
}

.header_right{
    display: flex;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    margin: auto 20px;
    border: 2px solid black;
    border-radius: 30%;
    padding: 8px;
}

.globe{
    display: flex;
    align-items: center;
    margin-left: 20px;
}